version: "3.8"

services:
  web:
    container_name: mig17_web
    image: mig17_web
    build:
      context: .
      dockerfile: ./Dockerfile-local
      target: development
    stdin_open: true
    restart: on-failure:1
    env_file: .env
    volumes:
      - .:/app
      - /node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    ports:
      - 3010:3000